body{
    display: block;
    text-align: center;
    background-color:teal;
}
label{
    display: block;
    padding: 10px;
    text-align: center;
}
.container{
    background-color: yellowgreen;
    margin: 0px 50px 0px 50px;
    padding: 350;
    border-radius: 20px;
    color: rgb(47, 0, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    display:block;
    margin:40px;
    background-color: red;
}  
